modules = ["nix", "nodejs-20", "nodejs-22", "replit", "web", "nodejs-19"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", " npm run build"]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80
